@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url('./asset/background.jpg');
  background-position: center center;
  background-size: cover;
}